*.vs/
*bin/
*obj/
*packages/
Antlr4.Runtime.dll
AutoSkill.dll.config
System.Buffers.dll
SharpDX.pdb
SharpDX.dll
SharpDX.Desktop.dll
PoeHUD.pdb
PoeHUD.exe.config
Newtonsoft.Json.dll
ImGui.NET.dll
Gma.System.MouseKeyHook.dll
netstandard.dll
SharpDX.Mathematics.xml
SharpDX.Mathematics.pdb
SharpDX.Mathematics.dll
SharpDX.Direct3D9.pdb
SharpDX.Direct3D9.dll
PoeHUD.exe
PoeFilterParser.dll
Newtonsoft.Json.pdb
Trinet.Core.IO.Ntfs.dll
System.Runtime.CompilerServices.Unsafe.dll
AutoSkill.pdb
System.Numerics.Vectors.dll
SharpDX.Desktop.pdb
config.ini
SharpDX.xml
